@media print {
    @page {
        size: 330mm 427mm;
        margin: 14mm;
    }

    .container {
        width: 1170px;
    }
}

#toast-container > div {
    opacity: 1;
}

html {
    height: 100%;
}

body {
    height: 100%
}

#kvapp {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main {
    flex: 1 1 auto;
}

.width-80 {
    width: 80%
}

.smallPreviewImg {
    width: 75px;
    height: 75px;
}

html, a, nav, li {
    font-family: 'Rubik', sans-serif !important;
    color: black;
    text-transform: none !important;
}

.experience-width {
    width: 90%;
}

.solid-border-sm {
    border-bottom: 1px solid black;
}

.super-bold {
    font-weight: 700;
}

.bold {
    font-weight: 500;
}

.moderate-bold {
    font-weight: 400;
}

.light {
    font-weight: 300;
}

.rem-1 {
    font-size: 1rem;
}

.rem-1-8 {
    font-size: 1.8rem;
}

em {
    color: black;
}

.rem-1-5 {
    font-size: 1.5rem;
}

.rem-1-25 {
    font-size: 1.25rem;
}

.rem-1-2 {
    font-size: 1.2rem;
}

.width-100 {
    width: 100%;
}

.dashed {
    border-bottom: 1px dashed black;
}

.disable-link-highlighting. a, a:hover, a:visited {
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: white;
}

a.underline {
    text-decoration: underline;
}

a, a:hover {
    color: #149dcc;
}

.black {
    color: black;
}

.white {
    color: white;
}

.numbered-list {
    list-style: none;
    counter-reset: counter;
}

.numbered-list li:before {
    counter-increment: counter;
    content: counter(counter);
    display: inline-block;
    text-align: center;
    line-height: 40px;
    transition: all .2s;
    color: #ffffff;
    background: #149dcc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 0;
    margin: 0 10px 5px -3em;
    position: absolute;
}

.block {
    display: block;
}

.checked-list {
    list-style: none;
}

.checked-list li:before {
    position: absolute;
    left: 0;
    padding-top: 3px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    transition: all .2s;
    color: #ffffff;
    background: #149dcc;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    content: '✓';
    margin: 0 10px 0 -2em;
}

.offcanvas {
    display: none !important;
}

.time {
    color: #666
}

.link-color {
    color: #149dcc
}

.left-30 {
    margin-left: 30%;
}

.left-20 {
    margin-left: 20%;
}

.left-25 {
    margin-left: 25%;
}

.right-20 {
    margin-right: 20%;
}

.right-25 {
    margin-right: 25%;
}

.right-30 {
    margin-right: 30%;
}

.dotted-box {
    border-style: dashed;
    border-width: 1px;
    padding: 10px;
}

ul.centered {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.no-rounded-border {
    border-radius: 0 !important;
}

.overflow-scroll-y {
    overflow-y: scroll;
}

.width-1-10 {
    width: 10%;
}

.padding-remove-l {
    padding-left: 0;
}

/* medium width and up */
@media only screen and (min-width: 960px) {
    .width-1-10\@m {
        width: 10%;
    }

    .margin-right-10\@m {
        margin-right: 10%
    }

    .margin-left-10\@m {
        margin-left: 10%;
    }

    .margin-left-30\@m {
        margin-left: 30%;
    }

    .width-1-2\@m {
        width: 50%;
    }

    .max-width-1-2\@m {
        max-width: 50%;
    }

    .margin-medium-bottom\@m {
        margin-bottom: 40px;
    }
}

/* small width */
@media only screen and (max-width: 640px) {
    .padding-remove-l\@s {
        padding-left: 0;
    }

    .margin-small-bottom\@s {
        margin-bottom: 10px;
    }
}